.overlay-light {
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
}

.reservation-form {
    background-color: rgb(255, 255, 255);
    color: var(--secondary-color-dark);
    width: 60%;
    min-width: 400px;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: auto;
    padding: 2rem;
    border-radius: var(--large-radius);
    border: 1px solid var(--secondary-color);
}

.reservation-form h1 {
    font-size: x-large;
    color: var(--secondary-color-dark);
}

.back-link {
    text-decoration: none;
    font-size: larger;
}

#rental-name {
    color: var(--secondary-color-dark);
    margin-bottom: 0;
}

#rental-rating {
    font-size: small;
    color: var(--primary-color-dark);
}

#reserve-button {
    float: right;
    display: inline;
    margin-top: 16px;
    margin-right: 0;
}

/* Services */
.service-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: left;
    margin-bottom: 4px;
    width: 200px;
}

.service-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.service-label {
    text-align: left;
    font-size: small;
}

.service-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin-bottom: 16px;
}

.left-column {
    display: inline;
    float: left;
    width: 60%;
}

.right-column {
    display: inline;
    float: right;
    width: 40%;
}

/* Activities */
.activity-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: left;
    margin-bottom: 4px;
    width: 200px;
}

.activity-label {
    text-align: left;
    font-size: small;
    width: 70%;
}

.activity-distance {
    text-align: right;
    font-size: small;
    width: 30%;
}

/* Photo Slider*/
.photo-container {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.photo {
    object-fit: cover;
    height: 160px;
    width: 200px;
    margin-right: 8px;
    display: inline-block;
}

.formStyle{
    width: 200px;
}
