/* Registration */
.register-form {
    background-color: var(--light-color);
    width: 30%;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: auto;
    padding: 1rem 1.5rem;
    border-radius: var(--large-radius);
    border: 1px solid var(--primary-color);
}
 
.register-body {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: url('../../../img/vacation_home.jpg') no-repeat center center/cover;
    background-size: cover;
}

#sign-in-link {
    text-Decoration: none;
    margin-right: 1rem;  
}

#register-link {
    text-Decoration: none;
    margin-left: 0.3rem;
}

#register-link-group {
    font-size: small;
    color: var(--primary-color)
}